<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Список авторов</title>
</head>
<body>
<a th:href="@{/index}">Главная</a>
<a th:href="@{/authors}">Авторы</a>
<a th:href="@{/books}">Книги</a>
<a th:href="@{/addBookPage}">Добавление книги</a>
<h1>Список авторов</h1>
<form action="#" th:action="@{/findAuthors/submit} "
      th:object="${authorView}" method="POST" accept-charset="UTF-8">
    <div class="form-group">
        <label>Фамилия автора</label>
        <input type="text" class="form-control" th:field="*{lastName}"/>
    </div>
    <button type="submit">Найти</button>
</form>
<br>
<div>
    <table border="1">
        <tr>
            <th>Авторы</th>
        </tr>
        <th:block th:each="authorView : ${allAuthors}">
            <tr>
                <td>
                    <a th:href="@{'/findBooks/' + ${authorView.id}}"
                       th:text="${authorView.lastName + ' ' + authorView.firstName + ' ' + authorView.middleName}" ></a>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>